<div class="content"> 
  <img src="{{ imageUrl }}" alt="Header Image" [width]="imageW" [height]="imageH" />
  <div class="center"><h1>About the Organization</h1>
    <h6>Learn how the team and committee leadership are shaping the worlds of conferences, get the lates conference news and updates on our blog, and contact us for guidance.</h6>
    
    <div class="button-design">
      <button (click)="showData($event)">Learn More</button>
  </div></div>
  



  <div class="content2">
    <h3>About</h3>
    <p>We believe in transparency, coorporation globally, and the free exchange of talent and ideas. A forum for the sharing of these technical and humanitarian discussion is given for meetings,
      conferences and othere events. We are also commited to creating a secure, constructive and support atmosphere for all participants in conferences, activities and meetings who participate in these discussion with us.
    </p>

    <div class="button-design">
      <button (click)="showData($event)">Learn More</button>
  </div>

  <p>Conferences are a part of the legacy of this organization and continue today to be a catalyst for creativity. We are commited to devoloping strategies that suport and expand the conference activities throughout the worlds.</p>
</div>
</div>